.App {
  text-align: center;
}
.calculator {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.row {
  display: flex;
}

.op-btn, .num-btn {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 25%;
  width: 25%;
  height: 70px;
  border: 1px solid;
  cursor: pointer;
}

.op-btn {
  color: white;
  background-color: rgb(221, 91, 91);
  border-color: black;
}

.num-btn {
  border-color: rgb(221, 91, 91);
}

.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2 0 50%;
  width: 50%;
  border: 1px solid rgb(221, 91, 91);
  font-size: 21px;
  color: #AAA;
  cursor: pointer;
}

.result {
  width: 100%;
  background-color: rgb(70, 56, 46);
  border: 1px solid rgb(221, 91, 91);
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  font-size: 25px;
}
